*, *:after, *:before { 
  box-sizing: inherit; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}  /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #5D6D7E;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

html{
  height:100%;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
}

a{
  list-style: none;
}

header{
  height:36px;
}

h1{
  background-color:#4B4B4B;
  color:white;
  font-family: 'Abel', sans-serif;
  padding-left: 33%;
  margin: 0px;
}

time {
  color:#283747;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.contactLabel{
  margin: 0px;
  color:#2E4053;
}

form{
  padding:10px;
  width:300px;
  margin:20px;
  margin-left:240px;
  border:1px solid white;
  background-color: #D0D3D4;
}

input,
textarea{
  border-style: none;
  border-radius:2px;
}

#send_button{
  margin-left: 80px;
  width:70px;
  color:#ECF0F1;
  background-color: #7B7D7D;
}

#main-container{
  position: absolute;
  min-width: 100%;
  background: #16222A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}         

#center-container{ 
  max-width:800px;
  margin-left: 250px;
}

.fa{
  font-size:35px;
  float:right;
  margin-right:5px;
  text-decoration:none;
}

.fa-facebook-square{
  color:white;
}

.fa-github-square{
  color:white;
}

.fa-twitter-square{
  color:white;
}

.icons{
  height:100%;
  width:100%;
}

#top-picture > img{
  max-height:400px;
  max-width:100%;
  border:2px solid #000;
  opacity: 0.5;
}

#techList{
  color:black;
  font-weight: bold;
}

#intro{
  margin:0px;
  border:2px solid white;
}

#message{
  padding-top:15px;
  margin-top: 14px;
  height:200px;
  width:100%;
  color:white;
  font-size:18px;
  text-align:center;
  border-width:3px;
  border-style: solid;
  border-color:#fff;
  border-top:0px;
  background-color: #0091BE;
}

.blue{
  background-color: #2874A6 !important;
}

.red{
  background-color: #CB4335 !important;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #000;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #E74C3C;
  border:1px solid white;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style:solid;
}


/*----CSS Triangles-----*/

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #fff transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fff;
}

/*---Color of Triangles to match box---*/

li:nth-child(even) .red::before{
  border-left-color:#CB4335 !important;
}

li:nth-child(odd) .red::before{
  border-right-color:#CB4335!important ;
}

li:nth-child(even) .blue::before{
  border-left-color:#2874A6 !important ;
}

li:nth-child(odd) .blue::before{
  border-right-color:#2874A6 !important ;
}
